{{ $element := first .Site.Params.HomePosts (where .Site.RegularPages.ByDate.Reverse "Section" "posts") }}
{{ if $element }}
<section class="page-section portfolio pb-5" id="posts">
	<div class="container">
		<div class="h2" style="color: #165b69">Updates</div>
		<div class="row justify-content-left">
			{{ range $index, $element }}
			<div class="col-md-4">
				<div class="card mb-4 ">
					<a style="text-decoration: none; color: black;" href="{{.Permalink}}"><img class="card-img-top"
							src="/{{.Page.Params.Hero}}" alt="Card image cap">

				</div>
				<div><strong>{{.Title}}</strong></div>
				<div><time datetime="{{ .Date.Format " 2006-01-02T15:04:05" }}"> {{ .Date | time.Format ":date_long"
						}}</time></div>
				</a>
			</div>
			{{ end }}

		</div>
	</div>
</section>
{{ end }}