{{ $element := first .Site.Params.HomePosts (where .Site.RegularPages.ByDate.Reverse "Section" "posts") }}
{{ if $element }}
<section class="page-section portfolio pb-5" id="posts">
	<div class="container">
		<!-- Portfolio Section Heading-->
		<!-- Icon Divider-->
		<div class="row justify-content-left">
			<!-- Portfolio Item 1-->
			{{ range $index, $element }}
			<div class="col-md-4">
				<div class="card mb-4 ">
					<a href="{{.Permalink}}"><img class="card-img-top" src="/{{.Page.Params.Hero}}"
							alt="Card image cap"></a>
				</div>
				<div><strong>{{.Title}}</strong></div>
				<div>{{.Summary}}</div>
			</div>
			{{ end }}

		</div>
	</div>
</section>
{{ end }}