<section class="page-section" style="background-color: #165b69;">
    <div class="container">
        <div class="divider-custom">
            <div class="divider-custom-line" style="background-color: white; border-color: white"></div>
            <div class="divider-custom-icon" style="color: white">Updates</div>
            <div class="divider-custom-line" style="background-color: white; border-color: white"></div>
        </div>
        <br>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mx-auto">
            <a class="twitter-timeline" data-height="700" href="https://twitter.com/crucknuk?ref_src=twsrc%5Etfw">Tweets
                by crucknuk</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</section>