{{ define "main" }}
<div class="container pb-5">
	<div class="row">
		<section class="page-section portfolio {{ if .Page.Params.sidebar }} col-lg-8 {{ end }} ">
			{{ if .Content }}
			<h2 class="page-section-heading text-secondary">{{ .Title }}</h2>

			<div class="text-secondary">
				<i class="fa-solid fa-headphones"></i>
				Muche
				-
				<time datetime="{{ .Date.Format " 2006-01-02T15:04:05" }}"> {{ .Date | time.Format ":date_long"
					}}</time>
			</div>
			<hr>
			{{ end }}
			<!-- {{if (ne .Page.Params.Hero "") }}
			<div class="align-items-start">
				<img class="img-fluid" style="border-radius: 12px; border: 2px solid white;"
					src="/{{.Page.Params.Hero}}" alt="">
			</div>
			{{ end }} -->
			<div class="text-secondary">
				<div>
					{{ .Content }}
					<!-- {{ if not .Params.Single }}
					{{ partial "single-pagination.html" . }}
					{{ end}} -->
				</div>
			</div>
			<br>
			{{ if isset .Params "tags" -}}
			<div class="col text-nowrap">
				{{ range $index, $name := sort .Params.tags -}}
				<!-- <a class="h4" href={{ (printf "/tags/%s/" $name) | urlize }} title="{{$name | markdownify }}"><span
						class="badge bg-primary p-2 m-1 ">{{$name |
						markdownify}}</span></a> -->
				<span class="h4" href={{ (printf "/tags/%s/" $name) | urlize }} title="{{$name | markdownify }}"><span
						class="badge bg-primary p-2 m-1 ">{{$name |
						markdownify}}</span></span>
				{{end}}
			</div>
			{{ end }}

		</section>
		<!-- <hr>
		<br>
		<h2> More articles </h2>
		{{ partial "posts.html" . }} -->

		{{ if .Page.Params.sidebar }}
		{{ partial "sidebar.html" . }}
		{{ end }}
	</div>
</div>

{{ end }}